html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://img.freepik.com/premium-photo/window-natural-shadow-overlay-effect-white-texture-background-overlay-product-presentation-backdrop-mockup-summer-seasonal-concept_200360-146.jpg?w=2000);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  margin: 0 5vw;
}

@media (max-width:1100px) {
  .container {
    flex-direction: column;
  }
}

.container-square {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:1100px) {
  .container-square {
    width: 100%;
  }
}

.square {
  width: 200px;
  height: 200px;
  background-color: rgb(56, 23, 218);
  border-radius: 60px;
}

@media (max-width:1100px) {
  .square {
    margin-top: 1150px;
    width: 200px;
    height: 200px;
  }
}

.container-input {
  width: 30vw;
  box-sizing: border-box;
  color: rgb(52, 52, 52);
}

@media (max-width:1100px) {
  .container-input {
    width: 80%;
  }
}

.range-p {
  display: flex;
  justify-content: space-between;
}

input[type="range"] {
  width: 100%;
}

.results {
  width: 30;
  background-color: rgb(170, 185, 204);
  padding: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width:1100px) {
  .results {
    width: 80%;
    margin-bottom: 50px;
  }
}